@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 245 100% 9.5%; /* #010030 */
    --foreground: 336 100% 95%; /* #FFE5F1 */
    --card: 245 100% 12.5%;
    --card-foreground: 336 100% 95%;
    --popover: 245 100% 9.5%;
    --popover-foreground: 336 100% 95%;
    --primary: 265 98% 60%; /* #7226FF */
    --primary-foreground: 336 100% 95%;
    --secondary: 278 99% 60%; /* #F042FF */
    --secondary-foreground: 336 100% 95%;
    --muted: 245 100% 12.5%;
    --muted-foreground: 245 10% 65%;
    --accent: 180 90% 77%; /* #87F5F5 */
    --accent-foreground: 245 100% 9.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 245 100% 15.5%;
    --input: 245 100% 15.5%;
    --ring: 265 98% 60%;
    --chart-1: 265 98% 60%;
    --chart-2: 278 99% 60%;
    --chart-3: 180 90% 77%;
    --chart-4: 336 100% 95%;
    --chart-5: 245 10% 65%;
    --radius: 0.8rem;
    --sidebar-background: 245 100% 9.5%;
    --sidebar-foreground: 336 100% 95%;
    --sidebar-primary: 265 98% 60%;
    --sidebar-primary-foreground: 336 100% 95%;
    --sidebar-accent: 245 100% 12.5%;
    --sidebar-accent-foreground: 336 100% 95%;
    --sidebar-border: 245 100% 15.5%;
    --sidebar-ring: 265 98% 60%;
  }
  .dark {
    --background: 245 100% 9.5%; /* #010030 */
    --foreground: 336 100% 95%; /* #FFE5F1 */
    --card: 245 100% 12.5%;
    --card-foreground: 336 100% 95%;
    --popover: 245 100% 9.5%;
    --popover-foreground: 336 100% 95%;
    --primary: 265 98% 60%; /* #7226FF */
    --primary-foreground: 336 100% 95%;
    --secondary: 278 99% 60%; /* #F042FF */
    --secondary-foreground: 336 100% 95%;
    --muted: 245 100% 12.5%;
    --muted-foreground: 245 10% 65%;
    --accent: 180 90% 77%; /* #87F5F5 */
    --accent-foreground: 245 100% 9.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 245 100% 15.5%;
    --input: 245 100% 15.5%;
    --ring: 265 98% 60%;
    --chart-1: 265 98% 60%;
    --chart-2: 278 99% 60%;
    --chart-3: 180 90% 77%;
    --chart-4: 336 100% 95%;
    --chart-5: 245 10% 65%;
    --sidebar-background: 245 100% 9.5%;
    --sidebar-foreground: 336 100% 95%;
    --sidebar-primary: 265 98% 60%;
    --sidebar-primary-foreground: 336 100% 95%;
    --sidebar-accent: 245 100% 12.5%;
    --sidebar-accent-foreground: 336 100% 95%;
    --sidebar-border: 245 100% 15.5%;
    --sidebar-ring: 265 98% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glassmorphic {
    @apply bg-card/10 backdrop-blur-xl border border-white/10 shadow-lg rounded-xl;
}
